{{ items }}
<div>
    <h3>Create</h3>
    <form>
        <label>Titre :</label>
        <input ng-model="item.title" type="text" name="title">
        <br>
        <label>Nom :</label>
        <input ng-model="item.name" type="text" name="name">
        <br>
        <label>Catégorie : </label>
        <select ng-model="item.category_id" ng-options="category.id as category.name for category in categories"></select>
        <br>
        <button ng-click="createItem(item)">Ajouter</button>
    </form>
</div>
